@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
  font-family: 'Century Gothic';
  src: url('../core/fonts/CenturyGothic-Bold.woff') format('woff2'),
    url('./core/fonts/CenturyGothic-Bold.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('./core/fonts/CenturyGothic.woff') format('woff2'),
    url('./core/fonts/CenturyGothic.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*——————————————————————

[Table of contents]f

1. Colors
2. Variables
3. Typography
4. Utilities
5. Mixins

——————————————————————-*/

/* ===COLORS=== */
:root {
  --clr-white: #fff;
  --clr-black: #182131;
  --clr-primary-gold: #c6984c;
}

/* ===TYPOGRAPHY CHANGES=== */

body {
  font-family: 'Century Gothic';
}

.material-icons-outlined,
.material-symbols-outlined {
  font-family: 'Material Icons';
}

/* ===UTILITIES=== */
.sr-only {
  padding: auto;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.max-wrapper {
  width: 85%;
  max-width: 1440px;
  margin-inline: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.44);
  transition: background-color 0.2s ease-in-out;
}

/* ===MIXINS=== */
@mixin truncate($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
