@import './core/reset';
@import './core/breakpoints';
@import './core/variables';

@import './vendors/hamburger';
@import './vendors/navigation-button';
@import './vendors/splide-core';

/*——————————————————————

[Table of contents]

1.

——————————————————————-*/
html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;

  background-color: #1c1c1c;
  height: 100vh;

  @include laptop() {
    &::-webkit-scrollbar {
      width: 12px; /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
      background: #222; /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--clr-primary-gold); /* color of the scroll thumb */
      border-radius: 20px; /* roundness of the scroll thumb */
      border: 3px solid var(--clr-black); /* creates padding around scroll thumb */
    }
  }
}

/*===MAIN MENU NAVIGATION=== */
.main-header {
  display: flex;
  align-items: center;

  padding: 1rem 1.5rem;

  position: absolute;
  width: 100%;

  z-index: 50;

  .company-logo {
    width: 200px;
    margin-right: auto;
    img {
      object-fit: contain;
    }
  }

  .main-navigation {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100vh;

    background-color: var(--clr-white);

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateX(100%);

    &__list {
      text-align: center;
      li {
        margin-top: 2rem;
        a {
          text-transform: uppercase;
          color: var(--clr-black);
        }
      }
    }
  }

  @include laptop() {
    padding: 2rem;

    .main-navigation {
      // reset styles
      position: relative;
      top: unset;
      left: unset;
      transform: unset !important;
      height: unset;
      width: unset;
      background-color: unset;

      &__list {
        display: flex;
        align-items: center;
        li {
          opacity: unset !important;
          transform: unset !important;

          margin-top: unset;
          margin-left: 1.5rem;
          .active {
            border-color: var(--clr-primary-gold);
          }

          a {
            color: var(--clr-white);
            border-top: 2px solid transparent;
            transition: border-color 0.2s ease-in-out;

            padding-top: 0.25rem;

            &:hover {
              border-color: rgba(240, 178, 77, 0.4);
            }
          }

          &:last-child {
            a {
              border-top: 0;
            }
          }
        }
      }
    }
  }

  @include desktop() {
    .company-logo {
      width: 250px;
    }

    .main-navigation {
      &__list {
        li {
          margin-left: 2rem;
          a {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

/*===HOMEPAGE LANDING SECTION=== */
.main-content {
  text-align: center;
  color: var(--clr-white);

  width: calc(100% - 4rem);
  margin-inline: auto;

  width: 100%;
  height: 100vh;

  display: grid;
  place-items: center;

  .lift-wrapper {
    padding-top: 8rem;
    &__content {
      .heading {
        font-weight: bold;
        font-size: 2rem;
        line-height: 120%;

        max-width: 300px;
        margin-inline: auto;

        @include tablet() {
          font-size: 3rem;
          max-width: 500px;
        }
      }

      .text {
        margin-top: 1.5rem;
        font-size: 1.1rem;
        line-height: 150%;

        max-width: 300px;
        margin-inline: auto;
      }

      .explore-button {
        margin-top: 1.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: bold;
        span {
          margin-left: 0.5rem;
          color: var(--clr-primary-gold);
        }
      }
    }

    &__buttons {
      margin-top: 5rem;
      display: inline-flex;
      align-items: center;

      .text-wrapper {
        display: none;

        font-weight: bold;
        span {
          color: #8e8c8c;
          margin-left: 1rem;
        }
      }

      #next-btn,
      #previous-btn {
        display: flex;

        border: 1px solid var(--clr-white);

        font-size: 1.5rem;

        padding: 0.3rem;
        margin-inline: 0.5rem;
      }
    }

    &__image-wrapper {
      margin-top: 2rem;
      img {
        max-width: 300px;
      }
    }
  }

  @include tablet() {
    .lift-wrapper {
      &__content {
        .text {
          max-width: 400px;
          font-size: 1.2rem;
        }
      }
    }
  }

  @include laptop() {
    background-image: url('../images/black-carbon.jpg');
    height: calc(100vh + 12rem);

    .lift-wrapper {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        'buttons buttons buttons empty empty empty'
        'image image image content content content';

      max-width: 1024px;
      margin-inline: auto;

      padding-bottom: 12rem;

      &__content {
        grid-area: content;
        text-align: left;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .heading {
          margin-left: 0;
        }

        .text {
          margin-left: 0;
          margin-top: 2rem;
        }

        .explore-button {
          justify-content: flex-start;
          margin-top: 5rem;
        }
      }

      &__buttons {
        grid-area: buttons;
        justify-content: center;

        .text-wrapper {
          display: block;
          margin-inline: 1rem;
        }
      }

      &__image-wrapper {
        grid-area: image;
        img {
          max-width: 500px;
        }
      }
    }
  }

  @include desktop() {
    .lift-wrapper {
      width: calc(100% - 8rem);
      max-width: 1920px;

      grid-template-columns: repeat(9, 1fr);
      grid-template-areas: 'buttons image image image image content content content content';

      padding-bottom: 5rem;

      &__content {
        .heading {
          font-size: clamp(3rem, 3vw, 4rem);
          max-width: 600px;
        }

        .text {
          font-size: 1.2rem;
        }
      }

      &__buttons {
        transform: rotate(-90deg);
        font-size: 1.2rem;

        width: 250px;
        text-align: left;
        .text-wrapper {
          margin-right: -20rem;
          order: 1;
          p {
            width: 450px;
          }
        }
      }

      &__image-wrapper {
        // added to size image for absolute position
        position: relative;
        width: 100%;
        height: 800px;

        max-width: 700px;
        img {
          position: absolute;
          left: 0px;

          max-width: 700px;
        }
      }
    }
  }
}

/*===SUPPLIERS SECTION=== */
.suppliers-block {
  display: grid;
  place-items: center;

  width: 100%;
  height: 100vh;

  &__content {
    .heading {
      font-weight: bold;
      font-size: 2rem;
      line-height: 120%;

      max-width: 300px;
      margin-inline: auto;
      margin-top: 2rem;

      @include tablet() {
        font-size: 3rem;
        max-width: 500px;
      }
    }

    .sub-heading {
      border-bottom: 1px solid var(--clr-primary-gold);
      padding-bottom: 0.2rem;
      letter-spacing: 0.2rem;
      color: #c9c9c9;
    }

    .text {
      margin-top: 1.5rem;
      font-size: 1.1rem;
      line-height: 150%;

      width: 80%;
      max-width: 600px;
      margin-inline: auto;
    }

    .explore-button {
      margin-top: 1.5rem;

      display: flex;
      justify-content: center;
      align-items: center;

      font-weight: bold;
      span {
        margin-left: 0.5rem;
        color: var(--clr-primary-gold);
      }
    }

    .navigation-button {
      margin-top: 2rem;
    }
  }

  @include laptop() {
    background-image: url('../images/black-carbon.jpg');

    &__wrapper {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: 'empty empty empty content content content';

      max-width: 1024px;
      margin-inline: auto;

      padding-bottom: 12rem;
    }

    &__content {
      grid-area: content;
      text-align: left;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .heading {
        margin-left: 0;
      }

      .text {
        margin-left: 0;
        margin-top: 2rem;
      }

      .sub-heading {
        border: unset;
        padding-bottom: unset;

        display: flex;
        align-items: center;

        &::before {
          content: '';
          display: block;
          background-color: var(--clr-primary-gold);
          width: 75px;
          height: 1px;
          margin-right: 1rem;
        }
      }

      .navigation-button {
        margin-top: 5rem;
        max-width: 150px;
        text-align: center;
      }
    }
  }

  @include desktop() {
    &__wrapper {
      width: calc(100% - 8rem);
      max-width: 1920px;

      grid-template-columns: repeat(9, 1fr);
      grid-template-areas: 'buttons image image image image content content content content';

      padding-bottom: 5rem;
    }

    &__content {
      .heading {
        font-size: clamp(3rem, 3vw, 4rem);
        max-width: 600px;
      }

      .text {
        font-size: 1.2rem;
      }
    }
  }
}

/*===VERSATILE APPLICATION BLOCK=== */
.application-block {
  padding-top: 5rem;
  padding-bottom: 5rem;

  background-color: #eae7e7;
  background-image: url('../images/white-carbon.png');
  background-size: cover;

  width: 100%;
  &__content {
    text-align: center;
    .heading {
      color: var(--clr-black);
      font-size: 3rem;
      font-weight: bold;
    }
  }

  &__applications {
    max-width: 500px;
    margin-inline: auto;
    margin-top: 3rem;
    color: var(--clr-white);

    .application-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .app-block {
        display: block;
        margin-top: 2rem;

        .image-wrapper {
          position: relative;
          overflow: hidden;

          img {
            width: 300px;
            height: 300px;
            display: block;

            transition: transform 0.2s ease-in-out;
          }

          .gradient {
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
          }

          .image-heading {
            position: absolute;
            z-index: 10;

            bottom: 24px;
            right: 24px;
            font-size: 2rem;
            font-weight: bold;
          }
        }

        // hover state for app block
        &:hover {
          .image-wrapper {
            .gradient {
              background-color: rgba(0, 0, 0, 0.2);
            }

            img {
              transform: scale(1.1);
            }

            .image-heading {
              &::before {
                content: '';
                width: 100px;
              }
            }
          }
        }
      }
    }
  }

  @include tablet() {
    padding-top: 10rem;
    padding-bottom: 10rem;
    &__applications {
      max-width: 1000px;
      margin-top: 2rem;
      .application-list {
        li {
          margin-top: 2rem;
          &:nth-child(even) {
            margin-left: 8rem;
          }
        }

        .app-block {
          .image-wrapper {
            img {
              width: 400px;
              height: 400px;
            }
          }
        }
      }
    }
  }

  @include laptop() {
    &__applications {
      .application-list {
        li {
          &:nth-child(even) {
            margin-left: 4rem;
            margin-top: 4rem;
          }
        }

        .app-block {
          .image-wrapper {
            .image-heading {
              display: flex;
              align-items: center;

              &::before {
                content: '';
                display: block;
                width: 25px;
                height: 4px;
                background-color: var(--clr-primary-gold);
                margin-right: 0.5rem;

                transition: width 0.3s ease-in-out;
              }
            }
          }
        }
      }
    }
  }

  @include desktop() {
    background-size: contain;
    background-repeat: no-repeat;
    &__applications {
      .application-list {
        gap: 3rem;
        li {
          margin-top: 4rem;

          &:nth-child(3) {
            margin-left: 5rem;
          }

          &:nth-child(4) {
            margin-left: 4rem;
          }
        }
      }
    }
  }
}

/*===CARBON SPLIDER=== */
.carbon-lift-slider {
  position: relative;
  z-index: 2;

  padding-top: 3rem;
  padding-bottom: 5rem;
  background-image: url('../images/black-carbon.jpg');

  color: var(--clr-white);

  width: 100%;
  .carbon__lifts {
    width: 100%;

    text-align: center;

    padding-top: 3rem;
    padding-bottom: 3rem;

    display: flex;
    flex-direction: column;
  }

  .carbon__splide {
    width: 90%;
    max-width: 1500px;
    margin: auto;
    padding-top: 2rem;

    .splide__arrows {
      position: relative;
      z-index: 5;

      display: flex;
      justify-content: space-between;

      width: 90%;
      margin: auto;

      transform: translateY(250px);
      button {
        span {
          font-size: 1.4rem;
          padding: 0.2rem;
          cursor: pointer;

          transition: all 0.2s ease-in-out;
          &:hover {
            color: var(--clr-primary-gold);
          }
        }
      }
    }

    .splide__slide {
      img {
        width: 100%;
        max-width: 500px;
      }
    }
  }

  .lift-label {
    font-size: 1.5rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      display: block;

      width: 50px;
      height: 2px;

      margin-top: 0.25rem;

      background-color: var(--clr-primary-gold);
      margin-right: 1rem;
    }
  }

  .splide__slide {
    img {
      opacity: 0.3;
      transform: scale(0.8);
      transition: all 0.3s ease-in-out;
    }
  }

  .splide__slide.is-active {
    img {
      opacity: 1;
      transform: scale(1);
    }
  }

  @include laptop() {
    .carbon__splide {
      .splide__arrows {
        width: 100%;
      }
    }
  }
}

/*===FOOTER=== */
footer {
  position: relative;
  width: 100%;

  background-color: #eae7e7;

  color: var(--clr-black);

  padding-top: 5rem;
  padding-bottom: 2rem;

  .footer-wrapper {
    text-align: center;
    .heading {
      display: inline-block;

      font-size: 1.4rem;
      font-weight: bold;
      border-bottom: 2px solid var(--clr-primary-gold);
    }

    &__contacts {
      .contact-list {
        a {
          transition: color 0.2s ease-in-out;
          &:hover {
            color: var(--clr-primary-gold);
          }
        }

        .member-info {
          margin-top: 2rem;

          &:first-child {
            margin-top: 1rem;
          }

          .name {
            font-weight: bold;
            font-size: 1.1rem;
          }

          .title {
            font-size: 0.9rem;
            margin-top: 0.25rem;
            margin-bottom: 1rem;
            opacity: 0.8;
            font-weight: bold;
          }

          .email,
          .phone {
            display: inline-block;
            margin-top: 0.5rem;

            display: flex;
            justify-content: center;
            opacity: 0.8;
            span {
              margin-right: 0.5rem;
              color: var(--clr-primary-gold);
            }
          }
        }
      }
    }

    &__links {
      display: none;

      margin-top: 2rem;

      a {
        border-bottom: 1px solid transparent;
        transition: border-color 0.2s ease-in-out;
        &:hover {
          border-color: var(--clr-primary-gold);
        }
      }

      .links-list {
        .link {
          margin-top: 0.75rem;
        }
      }
    }

    &__socials {
      margin-top: 2rem;

      a {
        border-bottom: 1px solid transparent;
        transition: border-color 0.2s ease-in-out;
        &:hover {
          border-color: var(--clr-primary-gold);
        }
      }

      .socials-list {
        .social {
          margin-top: 0.75rem;
          display: flex;
          align-items: center;

          &:hover {
            svg {
              fill: var(--clr-primary-gold);
            }
          }

          svg {
            width: 24px;
            height: 24px;

            margin-right: 0.75rem;
            transition: fill 0.3s ease-in-out;
          }
        }
      }
    }
  }

  .company-copy {
    margin-top: 4rem;
    font-size: 0.8rem;

    text-align: center;

    a {
      border-bottom: 1px solid var(--clr-primary-gold);
      transition: color 0.2s ease-in-out;
      &:hover {
        color: var(--clr-primary-gold);
      }
    }

    .policy {
      display: inline-block;
      margin-top: 1rem;
    }

    .aztec-copy {
      margin-top: 1rem;
    }
  }

  @include laptop() {
    .footer-wrapper {
      display: flex;
      width: calc(100% - 4rem);
      max-width: 1440px;
      margin-inline: auto;

      .heading {
        border: unset;
        display: flex;
        align-items: center;

        margin-bottom: 2rem;

        &::before {
          content: '';
          display: block;
          width: 50px;
          height: 2px;

          background-color: var(--clr-primary-gold);
          margin-right: 0.5rem;
        }
      }

      &__contacts {
        text-align: left;
        margin-right: 8rem;

        .contact-list {
          .member-info {
            .phone,
            .email {
              justify-content: flex-start;
            }
          }
        }
      }

      &__links {
        display: block;
        margin-top: 0rem;

        .link {
          text-align: left;
          font-size: 1.2rem;
          margin-bottom: 1.5rem;
        }
      }

      &__socials {
        margin-top: 0rem;
        text-align: left;
        font-size: 1.2rem;
        margin-left: 8rem;
        .social {
          margin-bottom: 1.5rem;
        }
      }
    }

    .company-copy {
      text-align: left;

      display: flex;
      flex-direction: row;
      width: calc(100% - 4rem);
      max-width: 1500px;
      margin-inline: auto;
      .policy,
      .aztec-copy {
        margin-top: 0;
      }

      .policy {
        margin-right: auto;
        margin-left: 1.5rem;
      }
    }
  }

  @include desktop() {
    padding-bottom: 3rem;

    background-image: url('../images/footer-logo.svg');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: calc(100% + 7rem) calc(100% + 7rem);

    .footer-wrapper {
      &__links {
        margin-left: 5rem;
      }

      &__socials {
        margin-left: 10rem;
      }
    }

    .company-copy {
      .aztec-copy {
        margin-right: 20rem;
      }
    }
  }
}

/*===ABOUT US LANDING HERO=== */
.landing-hero {
  height: 100vh;
  width: 100%;

  &__background {
    background-image: var(--about-background);
    width: 100%;
    height: 100vh;

    position: absolute;
    top: 0px;
    left: 0px;

    z-index: -1;
  }

  &__content {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;

    .heading {
      font-size: 4rem;
      color: var(--clr-white);
      font-weight: bold;
    }
  }
}

/*===ABOUT SECTION CONTENT=== */
.about-section {
  background-color: var(--clr-white);
  color: var(--clr-black);
  text-align: left;

  &__wrapper {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  &__content {
    width: calc(100% - 4rem);
    margin-inline: auto;

    .heading {
      color: #5f5d5d;
      font-size: 2rem;
      font-weight: bold;
    }

    .text {
      margin-top: 2rem;
      line-height: 150%;
      font-size: 1.2rem;
      strong {
        display: block;
        margin-bottom: 1rem;

        font-weight: bold;
        color: #5f5d5d;
      }
    }
  }

  &__image-block {
    margin-top: 2rem;

    .image-wrapper {
      img {
        object-fit: cover;
        height: 300px;

        display: block;
      }
    }

    .text {
      margin-inline: auto;
      margin-top: 2rem;

      width: calc(100% - 4rem);

      line-height: 150%;
      font-size: 1.2rem;

      strong {
        display: block;
        margin-bottom: 1rem;

        font-weight: bold;
        color: #5f5d5d;
        font-size: 1.4rem;
      }
    }

    &:nth-child(even) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  @include tablet {
    .image-block-wrapper {
      max-width: 1440px;
      margin-inline: auto;
    }
  }

  @include laptop {
    text-align: center;

    .image-block-wrapper {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }

    &__image-block {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 500px;

      margin: 0;
      .image-wrapper {
        max-height: 500px;
        min-height: 500px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 500px;
      }

      &:nth-child(even) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  @include desktop() {
    &__content {
      width: 50%;
      .text {
        line-height: 180%;
      }
    }
  }
}

/*===PROJECTS PAGE STYLES=== */
.project-hero {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--clr-white);

  &__background {
    background-image: var(--about-background);
    width: 100%;
    height: 100vh;

    position: absolute;
    top: 0px;
    left: 0px;

    z-index: -1;
  }

  &__content {
    text-align: center;
    .heading {
      font-size: 3.5rem;
      color: var(--clr-white);
      font-weight: bold;
    }
  }

  @include tablet() {
    &__content {
      .heading {
        font-size: 4rem;
      }
    }
  }
}

.advantages-block {
  padding-top: 5rem;
  padding-bottom: 5rem;

  background-color: var(--clr-white);

  &__content {
    width: calc(100% - 4rem);
    margin-inline: auto;

    .heading {
      font-weight: bold;
      font-size: 1.6rem;
    }

    .sub-heading {
      margin-top: 0.5rem;
      opacity: 0.8;
      font-weight: bold;
    }

    .advantages {
      margin-top: 1rem;
      &::before {
        content: '';
        display: block;
        width: 200px;
        background-color: var(--clr-primary-gold);
        height: 2px;
        opacity: 0.3;
      }
      .advantage {
        margin-top: 1.5rem;
        text-align: left;

        display: flex;
        align-items: flex-start;
        .number {
          font-size: 1rem;
          color: var(--clr-primary-gold);
          margin-right: 0.5rem;
          opacity: 0.8;
          margin-top: 0.3rem;
        }

        .text {
          position: relative;
          display: flex;
          align-items: center;
          line-height: 150%;
        }
      }
    }
  }

  @include tablet() {
    &__content {
      .heading {
        font-size: 2rem;
        max-width: 500px;
      }
    }
  }

  @include laptop() {
    &__content {
      text-align: center;

      .heading {
        font-size: 2.6rem;
        max-width: 500px;
        margin-inline: auto;
      }

      .sub-heading {
        font-size: 1.2rem;
      }

      .advantages {
        max-width: 1440px;
        margin-inline: auto;

        display: grid;
        grid-template-columns: 1fr 1fr;

        &::before {
          display: none;
        }

        width: calc(100% - 4rem);

        .advantage {
          text-align: left;
          align-items: center;

          flex-direction: column;
          margin-top: 3rem;
          .number {
            margin-top: 0;
            font-size: 1.4rem;
            border-radius: 100%;
            margin-bottom: 1rem;
            background-color: var(--clr-primary-gold);
            color: var(--clr-white);
            opacity: 0.5;
            width: 32px;
            height: 32px;

            display: grid;
            place-items: center;
          }

          .text {
            max-width: 320px;
            text-align: center;
          }
        }
      }
    }
  }

  @include desktop() {
    &__content {
      .advantages {
        grid-template-columns: repeat(3, 1fr);
        .advantage {
          font-size: 1.4rem;
          .number {
            margin-right: 1rem;
            font-size: 2rem;
            height: 64px;
            width: 64px;
          }
        }
      }
    }
  }
}

/*===PROJECTS CONTENT BLOCK=== */
.projects-content-block {
  background-color: var(--clr-white);
  padding-top: 5rem;
  padding-bottom: 5rem;
  &__content {
    width: calc(100% - 4rem);
    max-width: 1440px;
    margin-inline: auto;

    strong {
      font-weight: bold;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 2rem;
      font-weight: bold;
      &::after {
        content: '';
        display: block;
        width: 200px;
        height: 2px;
        background-color: var(--clr-primary-gold);
        opacity: 0.3;
        margin-top: 1rem;
      }
    }

    p {
      margin-top: 1rem;
      line-height: 150%;
    }

    .navigation-button {
      display: inline-block;
      margin-top: 2.5rem;
    }
  }

  @include tablet() {
    &__content {
      text-align: center;
      max-width: 600px;
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 3rem;
        &::after {
          margin-inline: auto;
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
    }
  }

  @include laptop() {
    font-size: 1.3rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

/*===PROJECTS COMING SOON (CHANGE TO PRODUCTS ONCE POPULATED)=== */
.coming-soon {
  &__hero {
    position: relative;
    z-index: -1;

    background-image: url('../images/heros/marine.webp');
    height: 50vh;

    display: grid;
    place-items: center;

    text-align: center;

    .heading {
      font-size: 3rem;
      font-weight: bold;
      color: var(--clr-white);
      z-index: 5;
    }
  }

  @include laptop() {
    &__hero {
      .heading {
        font-size: 5rem;
      }
    }
  }
}
