@charset "UTF-8";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===CUSTOM ADDITIONS=== */
button,
input,
a {
  all: unset;
}

a,
button {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../core/fonts/CenturyGothic-Bold.woff") format("woff2"), url("./core/fonts/CenturyGothic-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Century Gothic";
  src: url("./core/fonts/CenturyGothic.woff") format("woff2"), url("./core/fonts/CenturyGothic.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*——————————————————————

[Table of contents]f

1. Colors
2. Variables
3. Typography
4. Utilities
5. Mixins

——————————————————————-*/
/* ===COLORS=== */
:root {
  --clr-white: #fff;
  --clr-black: #182131;
  --clr-primary-gold: #c6984c;
}

/* ===TYPOGRAPHY CHANGES=== */
body {
  font-family: "Century Gothic";
}

.material-icons-outlined,
.material-symbols-outlined {
  font-family: "Material Icons";
}

/* ===UTILITIES=== */
.sr-only {
  padding: auto;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.max-wrapper {
  width: 85%;
  max-width: 1440px;
  margin-inline: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ===MIXINS=== */
.hamburger__button {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.hamburger__button .hamburger__input__bar {
  width: 100%;
  height: 1px;
  background-color: var(--clr-white);
  transition: all 0.3s ease-in-out;
  margin-top: 0.6rem;
}
.hamburger__button .hamburger__input__bar:nth-child(1) {
  width: 80%;
}
.hamburger__button .hamburger__input__bar:nth-child(2) {
  width: 60%;
  align-self: flex-start;
}
.hamburger__button .hamburger__input__bar:nth-child(3) {
  width: 70%;
}

.hamburger__button.active {
  overflow-x: hidden;
}
.hamburger__button.active .hamburger__input__bar {
  background-color: var(--clr-black);
}
.hamburger__button.active .hamburger__input__bar:nth-child(1) {
  transform: rotate(45deg) translate(8px, 7px);
  width: 100%;
}
.hamburger__button.active .hamburger__input__bar:nth-child(2) {
  transform: rotate(-45deg);
  width: 100%;
}
.hamburger__button.active .hamburger__input__bar:nth-child(3) {
  opacity: 0;
}

@media (min-width: 1024px) {
  .hamburger__button {
    display: none;
  }
}
.navigation-button {
  text-transform: uppercase;
  position: relative;
  font-size: 1.1rem;
  transform: translateY(0%);
  opacity: 1;
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
}
.navigation-button::after, .navigation-button::before {
  content: "";
  display: block;
  position: absolute;
  width: 98%;
  height: 91%;
  border: 2px solid;
  transition: all 0.6s ease;
}
.navigation-button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: var(--clr-primary-gold);
  border-right-color: var(--clr-primary-gold);
}
.navigation-button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: var(--clr-primary-gold);
  border-left-color: var(--clr-primary-gold);
}
.navigation-button:hover, .navigation-button:focus {
  outline: none;
}
.navigation-button:hover::before, .navigation-button:hover::after, .navigation-button:focus::before, .navigation-button:focus::after {
  width: 20%;
  height: 20%;
}

@-webkit-keyframes splide-loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.splide--draggable > .splide__slider > .splide__track,
.splide--draggable > .splide__track {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.splide--fade > .splide__slider > .splide__track > .splide__list,
.splide--fade > .splide__track > .splide__list {
  display: block;
}

.splide--fade > .splide__slider > .splide__track > .splide__list > .splide__slide,
.splide--fade > .splide__track > .splide__list > .splide__slide {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.splide--fade > .splide__slider > .splide__track > .splide__list > .splide__slide.is-active,
.splide--fade > .splide__track > .splide__list > .splide__slide.is-active {
  opacity: 1;
  position: relative;
  z-index: 1;
}

.splide--rtl {
  direction: rtl;
}

.splide--ttb.is-active > .splide__slider > .splide__track > .splide__list,
.splide--ttb.is-active > .splide__track > .splide__list {
  display: block;
}

.splide__container {
  box-sizing: border-box;
  position: relative;
}

.splide__list {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  transform-style: preserve-3d;
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}

.splide__pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}

.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}

.splide__progress__bar {
  width: 0;
}

.splide {
  outline: none;
  position: relative;
  visibility: hidden;
}

.splide.is-initialized,
.splide.is-rendered {
  visibility: visible;
}

.splide__slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  outline: none;
  position: relative;
}

.splide__slide img {
  vertical-align: bottom;
}

.splide__slider {
  position: relative;
}

.splide__spinner {
  -webkit-animation: splide-loading 1s linear infinite;
          animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

/*——————————————————————

[Table of contents]

1.

——————————————————————-*/
html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: #1c1c1c;
  height: 100vh;
}
@media (min-width: 1024px) {
  body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: #222; /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary-gold); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid var(--clr-black); /* creates padding around scroll thumb */
  }
}

/*===MAIN MENU NAVIGATION=== */
.main-header {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  position: absolute;
  width: 100%;
  z-index: 50;
}
.main-header .company-logo {
  width: 200px;
  margin-right: auto;
}
.main-header .company-logo img {
  -o-object-fit: contain;
     object-fit: contain;
}
.main-header .main-navigation {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
}
.main-header .main-navigation__list {
  text-align: center;
}
.main-header .main-navigation__list li {
  margin-top: 2rem;
}
.main-header .main-navigation__list li a {
  text-transform: uppercase;
  color: var(--clr-black);
}
@media (min-width: 1024px) {
  .main-header {
    padding: 2rem;
  }
  .main-header .main-navigation {
    position: relative;
    top: unset;
    left: unset;
    transform: unset !important;
    height: unset;
    width: unset;
    background-color: unset;
  }
  .main-header .main-navigation__list {
    display: flex;
    align-items: center;
  }
  .main-header .main-navigation__list li {
    opacity: unset !important;
    transform: unset !important;
    margin-top: unset;
    margin-left: 1.5rem;
  }
  .main-header .main-navigation__list li .active {
    border-color: var(--clr-primary-gold);
  }
  .main-header .main-navigation__list li a {
    color: var(--clr-white);
    border-top: 2px solid transparent;
    transition: border-color 0.2s ease-in-out;
    padding-top: 0.25rem;
  }
  .main-header .main-navigation__list li a:hover {
    border-color: rgba(240, 178, 77, 0.4);
  }
  .main-header .main-navigation__list li:last-child a {
    border-top: 0;
  }
}
@media (min-width: 1440px) {
  .main-header .company-logo {
    width: 250px;
  }
  .main-header .main-navigation__list li {
    margin-left: 2rem;
  }
  .main-header .main-navigation__list li a {
    font-size: 1.2rem;
  }
}

/*===HOMEPAGE LANDING SECTION=== */
.main-content {
  text-align: center;
  color: var(--clr-white);
  width: calc(100% - 4rem);
  margin-inline: auto;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.main-content .lift-wrapper {
  padding-top: 8rem;
}
.main-content .lift-wrapper__content .heading {
  font-weight: bold;
  font-size: 2rem;
  line-height: 120%;
  max-width: 300px;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .main-content .lift-wrapper__content .heading {
    font-size: 3rem;
    max-width: 500px;
  }
}
.main-content .lift-wrapper__content .text {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  line-height: 150%;
  max-width: 300px;
  margin-inline: auto;
}
.main-content .lift-wrapper__content .explore-button {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.main-content .lift-wrapper__content .explore-button span {
  margin-left: 0.5rem;
  color: var(--clr-primary-gold);
}
.main-content .lift-wrapper__buttons {
  margin-top: 5rem;
  display: inline-flex;
  align-items: center;
}
.main-content .lift-wrapper__buttons .text-wrapper {
  display: none;
  font-weight: bold;
}
.main-content .lift-wrapper__buttons .text-wrapper span {
  color: #8e8c8c;
  margin-left: 1rem;
}
.main-content .lift-wrapper__buttons #next-btn,
.main-content .lift-wrapper__buttons #previous-btn {
  display: flex;
  border: 1px solid var(--clr-white);
  font-size: 1.5rem;
  padding: 0.3rem;
  margin-inline: 0.5rem;
}
.main-content .lift-wrapper__image-wrapper {
  margin-top: 2rem;
}
.main-content .lift-wrapper__image-wrapper img {
  max-width: 300px;
}
@media (min-width: 768px) {
  .main-content .lift-wrapper__content .text {
    max-width: 400px;
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .main-content {
    background-image: url("../images/black-carbon.jpg");
    height: calc(100vh + 12rem);
  }
  .main-content .lift-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "buttons buttons buttons empty empty empty" "image image image content content content";
    max-width: 1024px;
    margin-inline: auto;
    padding-bottom: 12rem;
  }
  .main-content .lift-wrapper__content {
    grid-area: content;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-content .lift-wrapper__content .heading {
    margin-left: 0;
  }
  .main-content .lift-wrapper__content .text {
    margin-left: 0;
    margin-top: 2rem;
  }
  .main-content .lift-wrapper__content .explore-button {
    justify-content: flex-start;
    margin-top: 5rem;
  }
  .main-content .lift-wrapper__buttons {
    grid-area: buttons;
    justify-content: center;
  }
  .main-content .lift-wrapper__buttons .text-wrapper {
    display: block;
    margin-inline: 1rem;
  }
  .main-content .lift-wrapper__image-wrapper {
    grid-area: image;
  }
  .main-content .lift-wrapper__image-wrapper img {
    max-width: 500px;
  }
}
@media (min-width: 1440px) {
  .main-content .lift-wrapper {
    width: calc(100% - 8rem);
    max-width: 1920px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "buttons image image image image content content content content";
    padding-bottom: 5rem;
  }
  .main-content .lift-wrapper__content .heading {
    font-size: clamp(3rem, 3vw, 4rem);
    max-width: 600px;
  }
  .main-content .lift-wrapper__content .text {
    font-size: 1.2rem;
  }
  .main-content .lift-wrapper__buttons {
    transform: rotate(-90deg);
    font-size: 1.2rem;
    width: 250px;
    text-align: left;
  }
  .main-content .lift-wrapper__buttons .text-wrapper {
    margin-right: -20rem;
    order: 1;
  }
  .main-content .lift-wrapper__buttons .text-wrapper p {
    width: 450px;
  }
  .main-content .lift-wrapper__image-wrapper {
    position: relative;
    width: 100%;
    height: 800px;
    max-width: 700px;
  }
  .main-content .lift-wrapper__image-wrapper img {
    position: absolute;
    left: 0px;
    max-width: 700px;
  }
}

/*===SUPPLIERS SECTION=== */
.suppliers-block {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}
.suppliers-block__content .heading {
  font-weight: bold;
  font-size: 2rem;
  line-height: 120%;
  max-width: 300px;
  margin-inline: auto;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .suppliers-block__content .heading {
    font-size: 3rem;
    max-width: 500px;
  }
}
.suppliers-block__content .sub-heading {
  border-bottom: 1px solid var(--clr-primary-gold);
  padding-bottom: 0.2rem;
  letter-spacing: 0.2rem;
  color: #c9c9c9;
}
.suppliers-block__content .text {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  line-height: 150%;
  width: 80%;
  max-width: 600px;
  margin-inline: auto;
}
.suppliers-block__content .explore-button {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.suppliers-block__content .explore-button span {
  margin-left: 0.5rem;
  color: var(--clr-primary-gold);
}
.suppliers-block__content .navigation-button {
  margin-top: 2rem;
}
@media (min-width: 1024px) {
  .suppliers-block {
    background-image: url("../images/black-carbon.jpg");
  }
  .suppliers-block__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "empty empty empty content content content";
    max-width: 1024px;
    margin-inline: auto;
    padding-bottom: 12rem;
  }
  .suppliers-block__content {
    grid-area: content;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .suppliers-block__content .heading {
    margin-left: 0;
  }
  .suppliers-block__content .text {
    margin-left: 0;
    margin-top: 2rem;
  }
  .suppliers-block__content .sub-heading {
    border: unset;
    padding-bottom: unset;
    display: flex;
    align-items: center;
  }
  .suppliers-block__content .sub-heading::before {
    content: "";
    display: block;
    background-color: var(--clr-primary-gold);
    width: 75px;
    height: 1px;
    margin-right: 1rem;
  }
  .suppliers-block__content .navigation-button {
    margin-top: 5rem;
    max-width: 150px;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .suppliers-block__wrapper {
    width: calc(100% - 8rem);
    max-width: 1920px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "buttons image image image image content content content content";
    padding-bottom: 5rem;
  }
  .suppliers-block__content .heading {
    font-size: clamp(3rem, 3vw, 4rem);
    max-width: 600px;
  }
  .suppliers-block__content .text {
    font-size: 1.2rem;
  }
}

/*===VERSATILE APPLICATION BLOCK=== */
.application-block {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #eae7e7;
  background-image: url("../images/white-carbon.png");
  background-size: cover;
  width: 100%;
}
.application-block__content .heading {
  color: var(--clr-black);
  font-size: 3rem;
  font-weight: bold;
}
.application-block__applications {
  max-width: 500px;
  margin-inline: auto;
  margin-top: 3rem;
}
.application-block__applications .application-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.application-block__applications .application-list .app-block {
  display: block;
  margin-top: 2rem;
}
.application-block__applications .application-list .app-block .image-wrapper {
  position: relative;
  overflow: hidden;
}
.application-block__applications .application-list .app-block .image-wrapper img {
  width: 300px;
  height: 300px;
  display: block;
  transition: transform 0.2s ease-in-out;
}
.application-block__applications .application-list .app-block .image-wrapper .gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  transition: background-color 0.2s ease-in-out;
}
.application-block__applications .application-list .app-block .image-wrapper .image-heading {
  position: absolute;
  z-index: 10;
  bottom: 24px;
  right: 24px;
  font-size: 2rem;
  font-weight: bold;
}
.application-block__applications .application-list .app-block:hover .image-wrapper .gradient {
  background-color: rgba(0, 0, 0, 0.2);
}
.application-block__applications .application-list .app-block:hover .image-wrapper img {
  transform: scale(1.1);
}
.application-block__applications .application-list .app-block:hover .image-wrapper .image-heading::before {
  content: "";
  width: 100px;
}
@media (min-width: 768px) {
  .application-block {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .application-block__applications {
    max-width: 1000px;
    margin-top: 2rem;
  }
  .application-block__applications .application-list li {
    margin-top: 2rem;
  }
  .application-block__applications .application-list li:nth-child(even) {
    margin-left: 8rem;
  }
  .application-block__applications .application-list .app-block .image-wrapper img {
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 1024px) {
  .application-block__applications .application-list li:nth-child(even) {
    margin-left: 4rem;
    margin-top: 4rem;
  }
  .application-block__applications .application-list .app-block .image-wrapper .image-heading {
    display: flex;
    align-items: center;
  }
  .application-block__applications .application-list .app-block .image-wrapper .image-heading::before {
    content: "";
    display: block;
    width: 25px;
    height: 4px;
    background-color: var(--clr-primary-gold);
    margin-right: 0.5rem;
    transition: width 0.3s ease-in-out;
  }
}
@media (min-width: 1440px) {
  .application-block {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .application-block__applications .application-list {
    gap: 3rem;
  }
  .application-block__applications .application-list li {
    margin-top: 4rem;
  }
  .application-block__applications .application-list li:nth-child(3) {
    margin-left: 5rem;
  }
  .application-block__applications .application-list li:nth-child(4) {
    margin-left: 4rem;
  }
}

/*===CARBON SPLIDER=== */
.carbon-lift-slider {
  position: relative;
  z-index: 2;
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-image: url("../images/black-carbon.jpg");
  width: 100%;
}
.carbon-lift-slider .carbon__lifts {
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
}
.carbon-lift-slider .carbon__splide {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  padding-top: 2rem;
}
.carbon-lift-slider .carbon__splide .splide__arrows {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  transform: translateY(250px);
}
.carbon-lift-slider .carbon__splide .splide__arrows button span {
  font-size: 1.4rem;
  padding: 0.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.carbon-lift-slider .carbon__splide .splide__arrows button span:hover {
  color: var(--clr-primary-gold);
}
.carbon-lift-slider .carbon__splide .splide__slide img {
  width: 100%;
  max-width: 500px;
}
.carbon-lift-slider .lift-label {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carbon-lift-slider .lift-label::before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  margin-top: 0.25rem;
  background-color: var(--clr-primary-gold);
  margin-right: 1rem;
}
.carbon-lift-slider .splide__slide img {
  opacity: 0.3;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}
.carbon-lift-slider .splide__slide.is-active img {
  opacity: 1;
  transform: scale(1);
}
@media (min-width: 1024px) {
  .carbon-lift-slider .carbon__splide .splide__arrows {
    width: 100%;
  }
}

/*===FOOTER=== */
footer {
  position: relative;
  background-color: #eae7e7;
  width: 100%;
  color: var(--clr-black);
  padding-top: 5rem;
  padding-bottom: 2rem;
}
footer .footer-wrapper .heading {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 2px solid var(--clr-primary-gold);
}
footer .footer-wrapper__contacts .contact-list a {
  transition: color 0.2s ease-in-out;
}
footer .footer-wrapper__contacts .contact-list a:hover {
  color: var(--clr-primary-gold);
}
footer .footer-wrapper__contacts .contact-list .member-info {
  margin-top: 2rem;
}
footer .footer-wrapper__contacts .contact-list .member-info:first-child {
  margin-top: 1rem;
}
footer .footer-wrapper__contacts .contact-list .member-info .name {
  font-weight: bold;
  font-size: 1.1rem;
}
footer .footer-wrapper__contacts .contact-list .member-info .title {
  font-size: 0.9rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  opacity: 0.8;
  font-weight: bold;
}
footer .footer-wrapper__contacts .contact-list .member-info .email,
footer .footer-wrapper__contacts .contact-list .member-info .phone {
  display: inline-block;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  opacity: 0.8;
}
footer .footer-wrapper__contacts .contact-list .member-info .email span,
footer .footer-wrapper__contacts .contact-list .member-info .phone span {
  margin-right: 0.5rem;
  color: var(--clr-primary-gold);
}
footer .footer-wrapper__links {
  display: none;
  margin-top: 2rem;
}
footer .footer-wrapper__links a {
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease-in-out;
}
footer .footer-wrapper__links a:hover {
  border-color: var(--clr-primary-gold);
}
footer .footer-wrapper__links .links-list .link {
  margin-top: 0.75rem;
}
footer .footer-wrapper__socials {
  margin-top: 2rem;
}
footer .footer-wrapper__socials a {
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease-in-out;
}
footer .footer-wrapper__socials a:hover {
  border-color: var(--clr-primary-gold);
}
footer .footer-wrapper__socials .socials-list .social {
  margin-top: 0.75rem;
}
footer .company-copy {
  margin-top: 4rem;
  font-size: 0.8rem;
}
footer .company-copy a {
  border-bottom: 1px solid var(--clr-primary-gold);
  transition: color 0.2s ease-in-out;
}
footer .company-copy a:hover {
  color: var(--clr-primary-gold);
}
footer .company-copy .policy {
  display: inline-block;
  margin-top: 1rem;
}
footer .company-copy .aztec-copy {
  margin-top: 1rem;
}
@media (min-width: 1024px) {
  footer .footer-wrapper {
    display: flex;
    width: calc(100% - 4rem);
    max-width: 1440px;
    margin-inline: auto;
  }
  footer .footer-wrapper .heading {
    border: unset;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  footer .footer-wrapper .heading::before {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: var(--clr-primary-gold);
    margin-right: 0.5rem;
  }
  footer .footer-wrapper__contacts {
    text-align: left;
    margin-right: 8rem;
  }
  footer .footer-wrapper__contacts .contact-list .member-info .phone,
footer .footer-wrapper__contacts .contact-list .member-info .email {
    justify-content: flex-start;
  }
  footer .footer-wrapper__links {
    display: block;
    margin-top: 0rem;
  }
  footer .footer-wrapper__links .link {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  footer .footer-wrapper__socials {
    margin-top: 0rem;
    text-align: left;
    font-size: 1.2rem;
    margin-left: 8rem;
  }
  footer .footer-wrapper__socials .social {
    margin-bottom: 1.5rem;
  }
  footer .company-copy {
    text-align: left;
    display: flex;
    flex-direction: row;
    width: calc(100% - 4rem);
    max-width: 1500px;
    margin-inline: auto;
  }
  footer .company-copy .policy,
footer .company-copy .aztec-copy {
    margin-top: 0;
  }
  footer .company-copy .policy {
    margin-right: auto;
    margin-left: 1.5rem;
  }
}
@media (min-width: 1440px) {
  footer {
    padding-bottom: 3rem;
    background-image: url("../images/footer-logo.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: calc(100% + 7rem) calc(100% + 7rem);
  }
  footer .footer-wrapper__links {
    margin-left: 5rem;
  }
  footer .footer-wrapper__socials {
    margin-left: 10rem;
  }
  footer .company-copy .aztec-copy {
    margin-right: 20rem;
  }
}/*# sourceMappingURL=style.css.map */