@charset "UTF-8";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===CUSTOM ADDITIONS=== */
button,
input,
a {
  all: unset;
}

a,
button {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../core/fonts/CenturyGothic-Bold.woff") format("woff2"), url("./core/fonts/CenturyGothic-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Century Gothic";
  src: url("./core/fonts/CenturyGothic.woff") format("woff2"), url("./core/fonts/CenturyGothic.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*——————————————————————

[Table of contents]f

1. Colors
2. Variables
3. Typography
4. Utilities
5. Mixins

——————————————————————-*/
/* ===COLORS=== */
:root {
  --clr-white: #fff;
  --clr-black: #182131;
  --clr-primary-gold: #c6984c;
}

/* ===TYPOGRAPHY CHANGES=== */
body {
  font-family: "Century Gothic";
}

.material-icons-outlined,
.material-symbols-outlined {
  font-family: "Material Icons";
}

/* ===UTILITIES=== */
.sr-only {
  padding: auto;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.max-wrapper {
  width: 85%;
  max-width: 1440px;
  margin-inline: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ===MIXINS=== */
.hamburger__button {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.hamburger__button .hamburger__input__bar {
  width: 100%;
  height: 1px;
  background-color: var(--clr-white);
  transition: all 0.3s ease-in-out;
  margin-top: 0.6rem;
}
.hamburger__button .hamburger__input__bar:nth-child(1) {
  width: 80%;
}
.hamburger__button .hamburger__input__bar:nth-child(2) {
  width: 60%;
  align-self: flex-start;
}
.hamburger__button .hamburger__input__bar:nth-child(3) {
  width: 70%;
}

.hamburger__button.active {
  overflow-x: hidden;
}
.hamburger__button.active .hamburger__input__bar {
  background-color: var(--clr-black);
}
.hamburger__button.active .hamburger__input__bar:nth-child(1) {
  transform: rotate(45deg) translate(8px, 7px);
  width: 100%;
}
.hamburger__button.active .hamburger__input__bar:nth-child(2) {
  transform: rotate(-45deg);
  width: 100%;
}
.hamburger__button.active .hamburger__input__bar:nth-child(3) {
  opacity: 0;
}

@media (min-width: 1024px) {
  .hamburger__button {
    display: none;
  }
}
.navigation__button {
  text-transform: uppercase;
  position: relative;
  font-size: 1.1rem;
  transform: translateY(0%);
  opacity: 1;
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
}
.navigation__button::after, .navigation__button::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.navigation__button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: var(--clr-primary-gold);
  border-right-color: var(--clr-primary-gold);
}
.navigation__button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: var(--clr-primary-gold);
  border-left-color: var(--clr-primary-gold);
}
.navigation__button:hover, .navigation__button:focus {
  outline: none;
}
.navigation__button:hover::before, .navigation__button:hover::after, .navigation__button:focus::before, .navigation__button:focus::after {
  width: 20%;
  height: 20%;
}

/*——————————————————————

[Table of contents]

1.

——————————————————————-*/
html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: #1c1c1c;
  height: 100vh;
}

.main-header {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  position: absolute;
  width: 100%;
  z-index: 50;
}
.main-header .company-logo {
  width: 200px;
  margin-right: auto;
}
.main-header .company-logo img {
  -o-object-fit: contain;
     object-fit: contain;
}
.main-header .main-navigation {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
}
.main-header .main-navigation__list {
  text-align: center;
}
.main-header .main-navigation__list li {
  margin-top: 1.5rem;
}
.main-header .main-navigation__list li a {
  text-transform: uppercase;
  color: var(--clr-black);
}
@media (min-width: 1024px) {
  .main-header {
    padding: 2rem;
  }
  .main-header .main-navigation {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    height: unset;
    width: unset;
    background-color: unset;
  }
  .main-header .main-navigation__list {
    display: flex;
    align-items: center;
  }
  .main-header .main-navigation__list li {
    margin-top: unset;
    margin-left: 1.5rem;
  }
  .main-header .main-navigation__list li a {
    color: var(--clr-white);
  }
}
@media (min-width: 1440px) {
  .main-header .main-navigation__list li {
    margin-left: 2rem;
  }
  .main-header .main-navigation__list li a {
    font-size: 1.2rem;
  }
}

.main-content {
  text-align: center;
  color: var(--clr-white);
  width: calc(100% - 4rem);
  margin-inline: auto;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.main-content .lift-wrapper {
  padding-top: 8rem;
}
.main-content .lift-wrapper__content .heading {
  font-weight: bold;
  font-size: 2rem;
  line-height: 120%;
  max-width: 300px;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .main-content .lift-wrapper__content .heading {
    font-size: 3rem;
    max-width: 500px;
  }
}
.main-content .lift-wrapper__content .text {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  line-height: 150%;
  max-width: 300px;
  margin-inline: auto;
}
.main-content .lift-wrapper__content .explore-button {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.main-content .lift-wrapper__content .explore-button span {
  margin-left: 0.5rem;
  color: var(--clr-primary-gold);
}
.main-content .lift-wrapper__buttons {
  margin-top: 5rem;
  display: inline-flex;
  align-items: center;
}
.main-content .lift-wrapper__buttons .text-wrapper {
  display: none;
  font-weight: bold;
}
.main-content .lift-wrapper__buttons .text-wrapper span {
  color: #8e8c8c;
  margin-left: 1rem;
}
.main-content .lift-wrapper__buttons #next-btn,
.main-content .lift-wrapper__buttons #previous-btn {
  display: flex;
  border: 1px solid var(--clr-white);
  font-size: 1.5rem;
  padding: 0.3rem;
  margin-inline: 0.5rem;
}
.main-content .lift-wrapper__image-wrapper {
  margin-top: 2rem;
}
.main-content .lift-wrapper__image-wrapper img {
  max-width: 300px;
}
@media (min-width: 768px) {
  .main-content .lift-wrapper__content .text {
    max-width: 400px;
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .main-content {
    background-image: url("../images/black-carbon.jpg");
    height: calc(100vh + 12rem);
  }
  .main-content .lift-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "buttons buttons buttons empty empty empty" "image image image content content content";
    max-width: 1024px;
    margin-inline: auto;
    padding-bottom: 12rem;
  }
  .main-content .lift-wrapper__content {
    grid-area: content;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-content .lift-wrapper__content .heading {
    margin-left: 0;
  }
  .main-content .lift-wrapper__content .text {
    margin-left: 0;
    margin-top: 2rem;
  }
  .main-content .lift-wrapper__content .explore-button {
    justify-content: flex-start;
    margin-top: 5rem;
  }
  .main-content .lift-wrapper__buttons {
    grid-area: buttons;
    justify-content: center;
  }
  .main-content .lift-wrapper__buttons .text-wrapper {
    display: block;
    margin-inline: 1rem;
  }
  .main-content .lift-wrapper__image-wrapper {
    grid-area: image;
  }
  .main-content .lift-wrapper__image-wrapper img {
    max-width: 500px;
  }
}
@media (min-width: 1440px) {
  .main-content .lift-wrapper {
    width: calc(100% - 8rem);
    max-width: 1920px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "buttons image image image image content content content content";
    padding-bottom: 5rem;
  }
  .main-content .lift-wrapper__content .heading {
    font-size: clamp(3rem, 3vw, 4rem);
    max-width: 600px;
  }
  .main-content .lift-wrapper__content .text {
    font-size: 1.2rem;
  }
  .main-content .lift-wrapper__buttons {
    transform: rotate(-90deg);
    font-size: 1.2rem;
    width: 250px;
    text-align: left;
  }
  .main-content .lift-wrapper__buttons .text-wrapper {
    margin-right: -20rem;
    order: 1;
  }
  .main-content .lift-wrapper__buttons .text-wrapper p {
    width: 450px;
  }
  .main-content .lift-wrapper__image-wrapper {
    position: relative;
    width: 100%;
    height: 800px;
    max-width: 700px;
  }
  .main-content .lift-wrapper__image-wrapper img {
    position: absolute;
    left: 0px;
    max-width: 700px;
  }
}

.suppliers-block {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background-color: tomato;
}/*# sourceMappingURL=style.css.map */